<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantillas/plantilla :: head">
        <title>[[${heroe.titulo.accion.editar}]]</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="plantillas/plantilla :: header"></header>
        <section th:replace="heroes/editarHeroe :: editarHeroe"></section>       
        <section th:replace="plantillas/plantilla :: scripts"></section>      
    </body>
</html>